body{
    margin: 0;
    height: 100vh;
    background: #fff;
}

.box{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    opacity: 1;
    transform-origin: 0 0;
    z-index: 1;
}


.envelope{
    width: 224px;
    height: 224px;
    overflow: hidden;
    position: relative;
    animation: tremble 1s infinite;
    margin: auto;
}

.triangle{
    left: 28px;
    z-index: 1;
    bottom: 26px;
    width: 212px;
    height: 140px;
    position: absolute;
    transform: rotateZ(45deg);
    border-top-left-radius: 30px;
    background-color: pink;
    border: 2px solid #00000024;
}

.text{
    left: 29px;
    z-index: 3;
    width: 158px;
    bottom: 17px;
    height: 100px;
    cursor: pointer;
    font-size: 13px;
    font-style: oblique;
    padding: 12px 18px;
    border-radius: 8px;
    position: absolute;
    box-sizing: border-box;
    background-size: cover;
    color: #a59090;
    border: 1px solid #00000024;
    transition: all 0.6s linear 0.4s;
     background-image: url("photo.webp")
}

.base{
    top: 100px;
    z-index: 2;
    width: 220px;
    height: 121px;
    position: relative;
    border-radius: 4px;
    border: 2px solid #00000024;
    background-color: rgb(254, 168, 182);
}

.envelope:hover .text{
    height: 200px;
    color: #4c4444;
}

.text:before{
    content: "";
    height: 0;
    width: 6px;
    right: -34px;
    bottom: -17px;
    position: absolute;
    border-top: 56px solid transparent;
    border-left: 107px solid pink;
    border-right: 107px solid pink;
    border-bottom: 65px solid rgb(255, 174, 187);
}

@keyframes tremble{
    0% { transform: rotate(-1deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(1deg); }
    100% { transform: rotate(0deg); }
}